<h1>POSTS</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>


<br>
<br>
<input type="button" name="my-button" value="CLICK ME" id="my-button">
<div id="my-target"></div>

<script type="text/javascript" charset="utf-8">
  $( "#my-button" ).click(function() {
    $( "#my-target" ).append("<p>HELLO JS</p>");
  });
</script>